.team__point {
  position: relative;
  color: $textColor;
  font-weight: 600;
  font-size: 70px;
  line-height: 90%;
  margin: 0 0 40px 0;
  max-width: 500px;
  align-self: flex-end;
  z-index: 1;
}

@media screen and (max-width: 650px) {
  .team__point  {
    margin: 60px 0 20px 0;
    font-size: 40px;
    max-width: 280px;
  }
}
