.team__point-copy {
  position: relative;
  color: $textColor;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  margin: 0;
  max-width: 500px;
  align-self: flex-end;
  z-index: 1;
}

@media screen and (max-width: 650px) {
  .team__point-copy  {
    margin-bottom: 60px;
    font-size: 12px;
    max-width: 280px;
  }
}
