.button-key {
  @include button-reset;
  background-image: url(../images/header/key.svg);
  width: 38px;
  height: 54px;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 425px) {
  .button-key {
    width: 26px;
    height: 36px;
  }
}
