.popup__field {
  background-color: $popupColor;
  margin: 0 0 20px 0;
  padding: 0 0 0 28px;
  width: 500px;
  height: 48px;
  border: 0;
  border-radius: 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1%;
  color: $textColor;
  cursor: pointer;
  box-sizing: border-box;
}

.popup__field:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
}

.popup__field:focus {
  opacity: 1;
  outline-color: $secondBackgroundColor;
  outline-style: solid;
}

::placeholder {
  opacity: 1;
  color: $textColor;
  transition: opacity 0.3s;
}

:focus::placeholder {
  opacity: 0;
}

@media screen and (max-width: 518px) {
  .popup__field {
    width: 280px;
    height: 42px;
    margin-bottom: 10px;
  }
}
