.footer__copyright {
  color: $secondTextColor;
  font-weight: 400;
  font-size: 15.1px;
  line-height: 20px;
  margin: 0;
}

@media screen and (max-width: 650px) {
  .footer__copyright {
    font-size: 12px;
  }
}
