.popup__container {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .popup__container {
    width: 280px;
  }
}
