.popup__img {
  background-image: url("../images/popup/key.svg");
  width: 38px;
  height: 54px;
  background-repeat: no-repeat;
  background-size: contain;
  overflow:unset;
}

@media screen and (max-width: 425px) {
  .popup__img {
    width: 26px;
    height: 36px;
  }
}
