.button-registration__body {
  @include button-reset;
  background-color: $buttonColor;
  width: 218px;
  height: 48px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: $textColor;
}

@media screen and (max-width: 768px) {
  .button-registration__body {
    font-size: 13px;
    width: 184px;
    height: 44px;
  }
}

@media screen and (max-width: 425px) {
  .button-registration__body {
    font-size: 10px;
    width: 140px;
    height: 30px;
  }
}
