@mixin button-reset {
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
}

@mixin block-possition {
  margin: 0 auto;
  padding-left: 160px;
  padding-right: 160px;
}
