.intro__paragraf {
  margin: 0 0 182px 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: $textColor;
  max-width: 500px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 930px) {
  .intro__paragraf {
    margin-bottom: 212px;
  }
}

@media screen and (max-width: 530px) {
  .intro__paragraf {
    font-size: 12px;
    max-width: 280px;
    margin-bottom: 110px;
  }
}
